backend/web-app/WEB-INF/classes
backend/prodDb.*
backend/*.h2.db
backend/*Db.properties
backend/*Db.script
backend/test/reports
backend/target
backend/build
backend/.gradle
backend/.idea/workspace.xml
backend/.idea/libraries
backend/*.iml
backend/classes
backend/src/main/webapp

backend/.idea/.name
backend/.idea/artifacts/*.xml
backend/.idea/*.xml

backend/.idea/copyright/profiles_settings.xml

backend/gradle/wrapper/gradle-wrapper.jar

backend/gradle/wrapper/gradle-wrapper.properties
